@model LoginModel
@{
    ViewData["Title"] = "View";
}

<div class="container mt-5" style="max-width: 400px;">
    <div class="card shadow rounded-3">
        <div class="card-body">
            <h3 class="text-center mb-4">Sign In</h3>
            <form asp-action="Login" method="post">
                <div class="mb-3">
                    <label asp-for="Username" class="form-label"></label>
                    <input asp-for="Username" class="form-control" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Password" class="form-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="mb-3 form-check">
                    <input asp-for="RememberMe" class="form-check-input" />
                    <label asp-for="RememberMe" class="form-check-label">Remember Me</label>
                </div>
                <button type="submit" class="btn btn-primary w-100">Login</button>
                <div class="text-danger mt-2">
                    @Html.ValidationSummary(true)
                </div>
            </form>
        </div>
    </div>
</div>

